APP_NAME=CA Firm Management API
APP_ENV=development
DEBUG=true
API_V1_PREFIX=/api/v1

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/ca_firm

JWT_SECRET_KEY=change_this_to_a_long_random_secret
JWT_ALGORITHM=HS256
JWT_ISSUER=ca-firm-api
JWT_AUDIENCE=ca-firm-users
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=15

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=ap-south-1
S3_BUCKET_NAME=ca-firm-documents
S3_ENDPOINT_URL=
S3_USE_PATH_STYLE=false
S3_PRESIGNED_EXPIRE_SECONDS=900

STORAGE_MODE=mock
APP_BASE_URL=http://localhost:8000
